#board{
    background: #F7F8FA;;
    position: relative;
    width: 100%;
    min-height:87vh ;
    font-family: "roboto";
    z-index: 2;
}
.top-item-list{
    padding-top: 1.5rem;
    display: flex;
}
.sheet-icon{
    margin-right: .5rem;
}
.sheets{
    background: #FFFFFF;
border: 1px solid #DADADA;
border-radius: 11px;
width: 105px;
height: 50px;
display: flex;
align-items: center;
place-content: center;
margin-left: 2.5rem;
font-weight: 700;
font-size: 14px;
line-height: 17px;
}
.search-box{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
#search-input{
    background: #FFFFFF;
border: 1px solid #E5E5E5;
border-radius: 38px;
width: 368px;
height: 52.41px;
padding-left: 3rem;

}
#search-input:focus{
    outline: none;
}
.search-icon-label{
position: absolute;
left: 1rem;
top: .8rem;
}
.mid-item-list{
    display: flex;
    margin-top: 2rem;
    position: relative;
    
}
.mid-item-row{
    margin: 0;
}
.mid-item-left-col{
padding: 0;
}
.mid-item-right-col{
  padding: 0;  
  display: flex;
  align-items: flex-end;
}
.sheet-lib{
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
}
.sheet-lib-row{
    background: #FFFFFF;
    border: 1px solid #DADADA;
    border-top-right-radius: 11px;
    border-top-left-radius: 11px;
    margin: 0;
}
.sheet-id{
    border-top-left-radius: 11px;
}
.version{
    border-top-right-radius: 11px;
}
.sheet-lib-title{
    background: #FFFFFF;
border: 1px solid #DADADA;
height: 50px;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
text-align: center;

color: #000000;
display: flex;
align-items: center;
place-content: center;
}
.bottom-item-list{
    display: flex;
    align-items: center;
    place-content: center;
    margin-top: 4rem;
}
.no-sheet-image{
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
}
.no-sheet-text{
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
text-align: center;
margin-top: 1.5rem;
color: #7D7676;

}

@media(max-width:760px){
    #search-input  {
        width: 268px;
    } 
}

@media(max-width:680px){
    .bottom-item-list{
        margin-top: 8.5rem;
    }
}

@media(max-width:624px){
    .search-box{
margin-left: 2rem;
    }
    .sheets{
        margin-left: 1rem;
    }
}
@media(max-width:550px){
    #search-input  {
        width: 220px;
    } 
}