.faltu-text{
    margin-top: 1rem;
    margin-left: .5rem;
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #000000;
}
.field-input-heading{
    background: rgba(229, 229, 229, 0.49);
border: 1px solid #DADADA;
width: 100%;
height: 40px;
display: flex;
align-items: center;
padding-left: .5rem;
}
.field-input-item{
    background: #FFFFFF;
border: 1px solid #DADADA;
width: 100%;
height: 40px;
display: flex;
align-items: center;
padding-left: .5rem;
cursor: pointer;
}
.field-input-item:hover{
    background-color: #D0EBFF;
}