body{font-family: "roboto";}
.top-sheet-authoring{
    display: flex;
    align-items: center;
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
}
.back-button{
    background: #FFFFFF;
border: 1px solid #DADADA;
border-radius: 11px;
width: 38px;
height: 50px;
display: flex;
align-items: center;
place-content: center;
margin-left: 1.5rem;
}
.sheet-button{
    display: flex;
    align-items: center;
    place-content: center;
    width: 101px;
height: 50px;
background: #FFFFFF;
border: 1px solid #DADADA;
border-radius: 11px;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
color: #000000;
margin-left: 1rem;
}
.sheet-button-text{
    margin-top: 1rem;
    margin-left: .5rem;
}
.sheet-authoring-title-button{
    background: rgba(208, 235, 255, 0.35);
border: 1px solid #009AFF;
border-radius: 11px;
width: 252px;
height: 51px;
display: flex;
align-items: center;
place-content: center;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
text-decoration-line: underline;
color: #000000;
margin-left: 1.5rem;
}
.authoring-button{
    background: #D0EBFF;
border: 1px solid #009AFF;
width: 131px;
height: 50px;
display: flex;
align-items: center;
place-content: center;
border-top-left-radius: 11px;
border-bottom-left-radius: 11px;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #000000;
}
.preview-button{
    background: #FFFFFF;
border: 1px solid #DADADA;
width: 131px;
height: 50px;
display: flex;
align-items: center;
place-content: center;
border-top-right-radius: 11px;
border-bottom-right-radius: 11px;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #000000;
}
.finish-authoring-button{
    font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
color: #FFFFFF;
background: linear-gradient(90deg, #00C6FB 0%, #005BEA 100%);
border: 1px solid #DADADA;
border-radius: 11px;
width: 137px;
height: 50px;
display: flex;
align-items: center;
place-content: center;
margin-left: 1rem;
margin-right: 1.5rem;
cursor: pointer;
}

.sheet-authoring-row{
    margin: 0;
    min-height: 100vh;
    justify-content: center;
    display: flex;
}
.sheet-authoring-left-col,.sheet-authoring-right-col{
    padding: 0;
    display: flex;
flex-direction: column; 
border: 1px solid #DADADA;   
background-color: white;
}

/*                          LEFT COLUMN                             */
.sheet-authoring-left-col{
border-top-left-radius:12px ;
border-bottom-left-radius: 12px;
}
.field-title{
    background: #FFFFFF;
border: 1px solid #DADADA;
border-right: none;
width: 100%;
height: 50px;
border-top-left-radius: 12px;
display: flex;
align-items: center;
place-content: center;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
color: #000000;
}
.field-title-text{
    margin-top: 1rem;
    margin-left: .5rem;
}

/*                              MIDDLE COLUMN                        */
.sheet-authoring-middle-col{
    padding: 0;
    border: 1px solid #DADADA; 
    background-color: white;
}
.middle-field-title{
    background: #FFFFFF;
    border: 1px solid #DADADA;
    border-left: none;
    border-right: none;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    place-content: center;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000; 
}

.no-canvas-image{
    display: flex;
    align-items: center;
    flex-direction: column;
    place-content: center;
    margin-top: 6rem;
}
.no-canvas-image-text{
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #7D7676;
margin-top: 1.5rem;
}

.section-input-cont{
    display: flex;
    flex-direction: column;
    background: rgba(208, 235, 255, 0.65);
border: 1px solid #DADADA;
width: 100%;
height: 100px;
padding-left: 1.5rem;
position: relative;
}
.three-dots{
position: absolute;
right: 1rem;
cursor: pointer;
}
.section-del-btn{
    position: absolute;
    right: .2rem;
    top: 1.3rem;
    cursor: pointer;
}

.section-input-text1{
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #7D7676;
margin-top: .5rem;
}
.section-input-text2{
    font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
color: #000000;
}
.section-input-text3{
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #000000;
}


.field-titlee{
    margin-left: 1rem;
    margin-top: 1.5rem;
    width: 50%;
    
}
.field-title-topp{
    display: flex;
    position: relative;
    width: 100%;
}
.field-title-topp-text{
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #000000;
cursor: pointer;
}
.field-title-topp-text-click{
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
color: #000000;}
.star-and-trigger-cont{
    display: flex;
}
.star{
    font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
color: #009AFF;
margin-left: .25rem;
}
.trigger{
    display: flex;
    font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
color: #7D7676;
margin-left: 2rem;
align-items: center;
}
.trigger-tic-con{
    margin-left: .2rem;
}
.field-titlee-3-dots{
    position: absolute;
    right: 1rem;
    cursor: pointer;
}
.field-titlee-del-btn{
    position: absolute;
    right: .2rem;
    top: 1.3rem;
    cursor: pointer;
    z-index: 1;
    
}
.field-titlee-input-cont{
    background: #F7F8FA;
border: 1px solid #DADADA;
border-radius: 11px;
width: 100%;
height: fit-content;
position: relative;
}
.field-titlee-input-cont-expander{
position: absolute;
right: -5px;
top: 40%;
cursor: pointer;
}
.add-option-cont{
    background: transparent;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    width: fit-content;
}
.add-option-text{
    margin-left: .5rem;
    margin-top: 1rem;
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #000000;
cursor: pointer;
}
.date-time-conttt{
display: flex;
flex-direction: column;
width: 46%;
margin-top: 1.5rem;
margin-left: 1.8rem;
}
.date-time-cont-top{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}
.date-time-cont-top-text{
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #000000;
cursor: pointer;
}
.date-time-cont-top-text-click{
    font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
color: #000000;
}
.date-time-cont-three-dotss{
position: absolute;
right: 1rem;
cursor: pointer;
}
.data-time-del-btn{
    position: absolute;
    right: .5rem;
    top: 2rem;
    z-index: 1;
    cursor: pointer;
}
.date-picker{
    background: #F7F8FA;
border: 1px solid #DADADA;
border-radius: 11px;
height: 140px;
width: 96%;
display: flex;
align-items: center;
place-content: center;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #7D7676;
}

/*                          RIGHT COLUMN                            */
.sheet-authoring-right-col{
    border-top-right-radius:12px ;
    border-bottom-right-radius: 12px;
    
}
.end-field-title{
    background: #FFFFFF;
border: 1px solid #DADADA;
border-left: none;
width: 100%;
height: 50px;
border-top-right-radius: 12px;
display: flex;
align-items: center;
place-content: center;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
color: #000000;
}
.control-field-text{
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #7D7676;
margin-top: .5rem;
padding-left: .5rem;
border-bottom: 1px solid #DADADA;
display: flex;
align-items: center;
height: 30px;
}
.comp-phys-verf-cont,.prod-exp-date-cont{
    display: flex;
    flex-direction: column;
}
.comp-phys-verf-cont-text,.prod-exp-date-cont-text{
    font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
color: #000000;
height: 40px;
border-bottom: 1px solid #DADADA;
display: flex;
margin-bottom: 0;
padding-left: .5rem

}
.comp-phys-verf-cont-toggle-row,.prod-exp-date-cont-toggle-row{
    border-bottom: 1px solid #DADADA;
    height: 46px;
}
.comp-phys-verf-cont-toggle-left-col,.comp-phys-verf-cont-toggle-right-col,.prod-exp-date-cont-toggle-left-col,.prod-exp-date-cont-toggle-right-col{
    display: flex;
    align-items: center;
}
.req-text{
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #000000;
margin-top: 1rem;
}
.trigger-text{
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #000000;
margin-top: 1rem;
margin-right: .5rem;
}
.form-check {
    min-height: 20px;
}
.clickable-cont{
    width: 100%;
    background-color: transparent;
    height: 220px;
}
